@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #6da0e4;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexcol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* nav css */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3%;
    background-color: #6da0e4;
    color: white;
}

nav .logo {
    color: #ffffff;
    font-size: 25px;
}

nav .links a {
    color: white;
}

nav button {
    background-color: white;
    color: #005dde;
    border: none;
    padding: 8px 15px;
}

nav .links {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav .links a {
    font-size: 18px;
    font-weight: 500;
    transition: .2s linear;
}

nav .links a:hover {
    color: #0061df;
}

.links button {
    transition: .2s linear;
}

.links button:hover {
    background-color: #0061df;
    color: white;
    border-radius: 10px;
}

/* header css  */

header {
    width: 100%;
    height: calc(100vh - 76.67px);
    background: url("images/newbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


header .content {
    background-color: #f8f8f8;

    width: 30%;
    padding: 2rem;
    height: 100%;
}


.content div {
    padding-left: 1rem;
}

.content div h3 {
    font-size: 30px;
}

.content div p {
    color: #5c5d5f;
}

.content div button {
    width: 100%;
    text-align: start;
    background-color: transparent;
    padding: 10px 15px;
    margin-top: .8rem;
    border-radius: 5px;
}



.content div button,
button {
    background-color: #0061df;
    border: none;
    color: white;
    cursor: pointer;
}


.content div button:last-child {
    background-color: #fcfcfc;
    border: 2px solid #0061df;
    color: #005dde;
    cursor: pointer;
    transition: .3s linear;
}

.content div button:last-child:hover {
    background-color: #0061df;
    color: white;
}

section {
    padding: 3rem 0 5rem;
}

section h1 {
    font-size: 2.2rem;
    color: #005dde;
}

section p {
    color: #828487;
    margin: 10px 0;
}

section .card {
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
}

section .card .expand{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -10;
    background-color: #0061df;
    transition: .3s linear;
}

section .card:hover .expand{
    width: 100%;
    height: 100%;
}

section .card:hover *{
    color: white;
}

section .card h1 {
    color: #3d3d3d;
    font-size: 1.4rem;
}

section .card-container {
    padding: 2rem 0 3rem;
    justify-content: space-around;
}

section .card a {
    color: #005dde;
}

section .card-content {
    margin-top: 1rem;
}

.card .img-container {
    display: grid;
    place-items: center;
}

.card .img-container div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f5f7f8;
}

/* section next exclusive  */

#exclusives {
    padding-top: 0;
}

.ex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2.5rem;
    border-radius: 1rem 1rem 0 0;

}

.ex-container div:first-child {
    flex-basis: 60%;
}

.ex-container div:last-child {
    flex-basis: 30%;
}

.ex-container button {
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.ex-container img {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ex-container-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #005dde;
    color: white;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2.5rem;
    border-radius: 0 0 1rem 1rem;
    transform: translateY(-35px);
}


.ex-container-two div:first-child {
    flex-basis: 30%;
}

.ex-container-two div:last-child {
    flex-basis: 60%;
}

.ex-container-two button {
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.ex-container-two img {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ex-container-two h1,
.ex-container-two p {
    color: white;
}

.ex-container-two button {
    background-color: white;
    color: #0061df;
}

#transperant-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* footer  */

footer {
    background-color: #112337;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

footer i {
    padding-right: 8px;
}

footer p {
    font-size: .9rem;
}

.copyright {
    border-top: 1px solid white;
}

#closenav {
    display: none;
}

#activenav {
    font-size: 1.5rem;
}


/* responsive ness  */

@media (max-width:1050px) {
    header .content {
        width: 50%;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        margin-top: 2rem;
        max-width: 700px;
        width: 90% !important;
    }

    .ex-container {
        flex-direction: column;
    }

    .ex-container img {
        margin-top: 2rem;
    }

    .ex-container-two {
        flex-direction: column;
    }

    .ex-container-two img {
        margin-top: 2rem;
    }
}

@media (max-width:750px) {
    footer {
        flex-direction: column;
    }

    .main-footer div {
        margin-top: 1rem;
    }

    header .content {
        width: 100%;
        height: auto;
    }

    .links div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: none;
        background-color: #005dde;
        color: white;
        padding: 1rem;
        z-index: 1000;
    }

    .links div a {
        display: block;
    }

    .links div * {
        margin-top: 10px;
    }

    #closenav {
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 1.5rem;
        display: inline-block;
    }
}

@media (min-width:750px) {
    #activenav {
        display: none;
    }


    nav .links div {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .ex-container,.ex-container-two{
        padding: 1rem;
    }
}

@media (max-width:600px){
    .ex-container,.ex-container-two{
        padding: 1rem;
    }
}
